[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
